<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-6 mx-auto" style="margin-top: 10%;">
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleinputEmail1" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="exampleinputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleinputpassword1" class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control" id="exampleinputpassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <form method="post">
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            var options = {
                key: "{{razorpay_key}}",
                amount: "{{order.amount}}",
                currency: 'INR',
                name: "{{order.name}}",
                description: "Test Transaction",
                image: "https://example.com/your_logo",
                order_id: "{{order.provider_order_id}}",
                callback_url: "{{callback_url}}",
                redirect: true,
                prefill: {
                    "name": "Gaurav kumar",
                    "email": "gaurav.kumar@example",
                    "contact": "999999999"
                },
                notes: {
                    "address": "RAzorpay Corporate Office"
                },
                theme: {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        </script>
        <input type="hidden" custom="Hidden Element" name="hidden" >
    </form>
    
</body>
</html>